# The .env file feature only works when you use the docker-compose up command and does not work with docker stack deploy.

REGISTRY_VERSION=2.7.1

MINIO_ACCESS_KEY=MINIO_ACCESS_KEY

MINIO_SECRET_KEY=MINIO_SECRET_KEY

MINIO_BUCKET=docker

MINIO_IP_WITH_PORT=http://minio.you-domain.com