.idea

/Bark/conf/
/Bark/log/
/Bark/data/

/ElasticStack/conf/
/ElasticStack/log/
/ElasticStack/data/

/FileBeat/conf/
/FileBeat/log/
/FileBeat/data/

/Frp/conf/*
!/Frp/conf/frps_full.ini
!/Frp/conf/frpc_full.ini
/Frp/log/
/Frp/data/

/Gitlab/conf/
/Gitlab/log/
/Gitlab/data/

/Hexo/conf/
/Hexo/log/
/Hexo/data/

/Keepalived/conf/
/Keepalived/log/
/Keepalived/data/

/Minio/conf/
/Minio/log/
/Minio/data/

/MySQL/conf/
/MySQL/log/
/MySQL/data/

/Nginx/conf/
/Nginx/log/
/Nginx/data/

/PHP/conf/
/PHP/log/
/PHP/data/

/Portainer/conf/
/Portainer/log/
/Portainer/data/

/PostgreSQL/conf/
/PostgreSQL/log/
/PostgreSQL/data/

/Python/conf/
/Python/log/
/Python/data/

/RabbitMQ/conf/
/RabbitMQ/log/
/RabbitMQ/data/

/Redis/conf/
/Redis/log/
/Redis/data/

/Registry/conf/*
!/Registry/conf/config.yml
/Registry/log/
/Registry/data/

/Shadowsocks/conf/*
!/Shadowsocks/conf/ss-websocket-http/config.json.example
!/Shadowsocks/conf/ss-websocket-https/config.json.example
/Shadowsocks/log/
/Shadowsocks/data/

/StackStorm/files
/StackStorm/packs
/StackStorm/packs.dev
/StackStorm/.env

/Swagger/conf/
/Swagger/log/
/Swagger/data/

/Tomcat/conf/
/Tomcat/log/
/Tomcat/data/

/VSCode/conf/
/VSCode/log/
/VSCode/data/