.idea

/Bark/conf/
/Bark/log/
/Bark/data/
/Bark/.env

/DBGp/conf/
/DBGp/log/
/DBGp/data/
/DBGp/.env

/ElasticStack/conf/
/ElasticStack/log/
/ElasticStack/data/
/ElasticStack/.env

/FileBeat/conf/
/FileBeat/log/
/FileBeat/data/
/FileBeat/.env

/Frp/conf/*
!/Frp/conf/frps_full.ini
!/Frp/conf/frpc_full.ini
/Frp/log/
/Frp/data/
/Frp/.env

/Gitlab/conf/
/Gitlab/log/
/Gitlab/data/
/Gitlab/.env

/Go/conf/
/Go/log/
/Go/data/
/Go/.env

/Hexo/conf/
/Hexo/log/
/Hexo/data/
/Hexo/.env

/Keepalived/conf/
/Keepalived/log/
/Keepalived/data/
/Keepalived/.env

/Minio/conf/
/Minio/log/
/Minio/data/
/Minio/.env

/MongoDB/conf/
/MongoDB/log/
/MongoDB/data/
/MongoDB/.env

/MySQL/conf/
/MySQL/log/
/MySQL/data/
/MySQL/.env

/Nginx/conf/
/Nginx/log/
/Nginx/data/
/Nginx/.env

/Node/conf/
/Node/log/
/Node/data/
/Node/.env

/PHP/conf/
/PHP/log/
/PHP/data/
/PHP/.env

/Portainer/conf/
/Portainer/log/
/Portainer/data/
/Portainer/.env

/PostgreSQL/conf/
/PostgreSQL/log/
/PostgreSQL/data/
/PostgreSQL/.env

/Python/conf/
/Python/log/
/Python/data/
/Python/.env

/RabbitMQ/conf/
/RabbitMQ/log/
/RabbitMQ/data/
/RabbitMQ/.env

/Redis/conf/
/Redis/log/
/Redis/data/
/Redis/.env

/Registry/conf/*
!/Registry/conf/config.yml
/Registry/log/
/Registry/data/
/Registry/.env

/Shadowsocks/conf/*
!/Shadowsocks/conf/ss-client/config.json.example
!/Shadowsocks/conf/ss-websocket-http/config.json.example
!/Shadowsocks/conf/ss-websocket-https/config.json.example
/Shadowsocks/log/
/Shadowsocks/data/
/Shadowsocks/.env

/StackStorm/files
/StackStorm/packs
/StackStorm/packs.dev
/StackStorm/.env

/Swagger/conf/
/Swagger/log/
/Swagger/data/
/Swagger/.env

/Tomcat/conf/
/Tomcat/log/
/Tomcat/data/
/Tomcat/.env

/VSCode/conf/
/VSCode/log/
/VSCode/data/
/VSCode/.env