.idea

/Gitlab/conf/
/Gitlab/logs/
/Gitlab/data/

/MySQL/conf/
/MySQL/logs/
/MySQL/data/

/Nginx/conf/
/Nginx/logs/
/Nginx/www/

/PHP/conf/
/PHP/logs/
/PHP/nginx/

/YAF/conf/
/YAF/logs/

/Minio/data/

/Registry/data/registry/

/Redis/data/
/Redis/conf/

/Hexo/config/
/Hexo/ssh/

/PostgreSQL/data/

/Caddy/data/
/Caddy/config/
/Caddy/Caddyfile

/Shadowsocks/conf/
/Shadowsocks/log/

/StackStorm/files
/StackStorm/packs
/StackStorm/packs.dev
/StackStorm/.env