# The .env file feature only works when you use the docker-compose up command and does not work with docker stack deploy.

SWAGGER_EDIT_VERSION=v4.10.0

SWAGGER_UI_VERSION=v4.19.0

CONFIG_URL=./swagger-config.json

URL=./data/null.yml