# The .env file feature only works when you use the docker-compose up command and does not work with docker stack deploy.

RABBIT_MQ_VERSION='3.8.19-management'

RABBITMQ_DEFAULT_USER='admin'

RABBITMQ_DEFAULT_PASS='Ch@ngeMe'