# The .env file feature only works when you use the docker-compose up command and does not work with docker stack deploy.

PORTAINER_VERSION=2.18.4

EDGE_ID=aaaaaaa-bbbbb-ccccc-ddddd-eeeee

EDGE_KEY=abcdefghijklmnopqrstuvwxyz