# The .env file feature only works when you use the docker-compose up command and does not work with docker stack deploy.

# 需要先创建 camunda 数据库
DB_USERNAME=camunda
DB_PASSWORD=camunda

# camunda/camunda-bpm-platform:tomcat-7.10.0 支持的数据库版本 MySQL 5.6 / 5.7 MariaDB 10.0 / 10.2 / 10.3
# 版本限制参见官方文档 https://docs.camunda.org/manual/7.10/introduction/supported-environments/
# 容器部署参见官方文档 https://github.com/camunda/docker-camunda-bpm-platform/blob/next/test/docker-compose.yml
# 如果要支持高版本的数据库，要么升级 camunda 版本，要么更新 JDBC 为 com.mysql.cj.jdbc.Driver
DB_DRIVER="com.mysql.jdbc.Driver"

DB_URL="jdbc:mysql://mysql:3306/process-engine?sendFractionalSeconds=false"