# The .env file feature only works when you use the docker-compose up command and does not work with docker stack deploy.

# 需要先创建 camunda 数据库
DB_USERNAME=camunda
DB_PASSWORD=camunda

# 高版本使用 com.mysql.cj.jdbc.Driver
# 具体参见官方文档 https://github.com/camunda/docker-camunda-bpm-platform/blob/next/test/docker-compose.yml
DB_DRIVER="com.mysql.jdbc.Driver"

DB_URL="jdbc:mysql://mysql:3306/process-engine?sendFractionalSeconds=false"