# The .env file feature only works when you use the docker-compose up command and does not work with docker stack deploy.

INFLUXDB_DB=prometheus

INFLUXDB_ADMIN_ENABLED=true

INFLUXDB_ADMIN_USER=admin

INFLUXDB_ADMIN_PASSWORD=ffbcRSH2OMDIMONhVEA4gGxk5gSGYa5A

INFLUXDB_USER=root

INFLUXDB_USER_PASSWORD=2OBoCVCKtWAGxaEviaVJanKsfhYZNNB8